*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
}
.page-header{
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}



.header-logo {
    display: block;
}

.main-banner-desktop,
.main-banner-mobile {
    display: block;
    width: 100vw;

}

.middle-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 26px 34px;
    
}

.top-infocard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0 96px;
}

.top-infocard-text {
    max-width: 766px;
    margin-bottom: 65px;
}

.top-infocard-subtitle {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
    text-align: center;

}

.top-infocard-title {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

.top-infocard-description {
    line-height: 24px;
    font-size: 16px;
    text-align: left;
}

.top-cards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 26px 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image {
    display: block;
    margin-bottom: 26px;
    
}

.top-card-description {
    max-width: 300px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;

}

.middle-banner-images {
    margin-top: 80px;
    background: #E0E0E0;
    
    
}

.middle-banner-image {
    display: block;
    position: relative;
    top: 63px;
    display: flex;
    flex-direction: row;
    margin-left: 94px;
}

.middle-banner {
    max-width: 432px;
    width: 100%;
}

.middle-banner-images-mobile {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, max-content);
    background-color: #E0E0E0;

}

.middle-banner-mobile{
    display: flex;
    flex-direction: row;
    margin-left: 26px;
}

.middle-banner-mobile-01,
.middle-banner-mobile-02 {
    max-width: 177px;
    width: 100%;
    display: block;
    padding: 0;
    margin-right: 10px;
}

.middle-banner-mobile-03 {
    display: block;

}

@media screen and (max-width: 699px) {
    .main-banner-desktop,
    .bottom-infocard,
    .bottom-infocard-text-mobile
    {
        display: none;
    }
}


@media screen and (max-width: 414px) {
    .top-cards {
        grid-template-columns: 1fr;
        padding: 36px 26px;
    }
}

@media screen and (max-width: 992px) {
    .top-infocard {
        flex-direction: column;
        padding: 84px 26px 158px;
}

    .top-infocard-text {
    margin: 0 0 68px;
    }

    .top-infocard-subtitle {
    font-size: 20px;
    }

    .top-infocard-title {
        margin-bottom: 20px;
        font-size: 28px;
    }
}
    .top-infocard-image{
        width: 100%;
        max-width: 315px;
        display: block;
        height: 100%;
        
    }

    .bottom-infocard {
        flex-direction: column;
        padding: 0 0 136px;
    }

    .bottom-infocard-image {
        width: 100%;
        max-width: 596px;
        margin: 0 0 50px
    }

    .middle-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        justify-content: center;
        padding: 74px 0;
        
    }

    .middle-card {
        max-width: 432px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    }

    .middle-card-image {
        display: block;
        margin-bottom: 26px;

    }

    .middle-card-description{
        max-width: 300px;
        text-align: center;
        line-height: 24px;
        font-size: 16px;
    }

    .bottom-infocard {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 142px 0 180px;
    }

    .bottom-infocard-image {
        margin-right: 40px;
    }

    .bottom-infocard-text {
        max-width: 550px;
    }

    .bottom-infocard-title {
        margin-bottom: 18px;
        line-height: 20px;
        font-size: 32px;
        font-weight: 600;
        text-align: center;
    }
    .bottom-infocard-description {
        line-height: 24px;
        font-size: 16px;
        text-align: center;
    }

    .page-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 38px 0;
        background: #000000;
    }

    .footer-icons {
        display: flex;
        list-style: none;
        margin-bottom: 16px;
    }

    .footer-icon {
        margin: 0 8px;
    }

    .footer-text {
        text-transform: uppercase;
        line-height: 12px;
        font-size: 10px;
        color: #BDBDBD;
    }

    .middle-banner-wrapper {
        position: relative;
        top: 40px;

    }

    .bottom-infocard-image-mobile {
        display: none;
    }

@media screen and (min-width: 1024px) and (max-width: 1919px) {
    .middle-banner-image {
        max-width: 250px;
    }
}

@media screen and (min-width: 1023px) {
    .middle-banner-images-mobile {
    display: none;

    }
}

@media screen and (max-width: 1024px) {
    .middle-banner-images {
    display: none;
    }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .top-infocard-text {
        max-width: 520px;
        margin-right: 70px;
    }


}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .top-cards {
    grid-template-columns: repeat(2, max-content);
}

}

@media screen and (min-width: 700px) {
    .bottom-infocard-mobile ,
    .main-banner-mobile {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    .top-cards {
        grid-template-columns: 1fr;
        padding: 36px 26px;
    }

    .page-footer{
        padding-bottom: 26px;
    }

    .footer-text {
        max-width: 180px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .middle-cards {
        grid-template-columns: 1fr;
        padding: 36px 26px;
}
}

@media screen and (max-width: 768px) {
    .bottom-infocard-image-mobile{
        display: block;
    }

}